@font-face {
    font-family: "DejaVu Sans";
    src: url("./fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSans.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* @font-face {
    font-family: "Open Sans";
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
} */