main {
    font-size: 18px;
}

img {
    float: right;
    margin-right: 15px;
}

ul ul li {
    list-style-type: circle;
}

.services {
    list-style: none;
}

.service a {
    color: black;
}

.service:nth-child(even) {
    background-color: rgb(243, 243, 243);
}